<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../images/favicon.ico">
    <title> Result </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/calculator.css">
</head>
<body>
    <div class="main">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"> BMI </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav ms-auto">
                        <a class="nav-link" href="home.html">Home</a>
                        <a class="nav-link active" aria-current="page" href="calculator.html">Calculator</a>
                        <a class="nav-link" href="aboutus.html">About us</a>
                    </div>
                </div>
            </div>
        </nav>

        <div class="text-container"> 
            <p class="result"><%= result %></p>
            
            <div style="display:flex">
                <div class="advertisement text-center">
                <p> Don't forget to play </p>
                <p> <strong><%= game %></strong>. </p> 
                <p> It's an amazing online game.
                Download it via <a class="text-center" href='https://play.google.com/store/games?hl=en&gl=US'>this link</a>
                </p>
                </div>
                
                <div class="advertisement2 text-center">
                    <p> Don't forget to watch the streamer </p>
                    <p> <strong><%= gamer %></strong>. </p> 
                    <p> He makes cool gameplays.
                    Watch him via <a class="text-center" href='https://www.twitch.tv/'>this link</a>
                    </p>
                </div>
            </div>

            <div class="table-container">
                <div class="left-table">
                    <h2> BMI table for adults </h2>
                    <p> This is the World Health Organization's (WHO) recommended body weight based on BMI values for adults. It is used for both men and women, age 20 or older.</p>
                    <table>
                        <tr>
                            <th> Classification </th>
                            <th> BMI range - kg/m<sup>2</sup></th>
                        </tr>
                        <tr>
                            <td> Severe Thinness </td>
                            <td> < 16 </td>
                        </tr>
                        <tr> 
                            <td> Moderate Thinness </td>
                            <td> 16 - 17 </td>
                        </tr>
                        <tr>
                            <td> Mild Thinness </td>
                            <td> 17 - 18.5 </td>
                        </tr>
                        <tr>
                            <td> Normal </td>
                            <td> 18.5 - 25 </td>
                        </tr>
                        <tr>
                            <td> Overweight </td>
                            <td> 25 - 30 </td>
                        </tr>
                        <tr> 
                            <td> Obese Class I </td>
                            <td> 30 - 35 </td>
                        </tr>
                        <tr>
                            <td> Obese Class II	</td>
                            <td> 35 - 40 </td>
                        </tr>
                        <tr>
                            <td> Obese Class III </td>
                            <td> > 40 </td>
                        </tr>
                    </table>
                </div>
                <div class="right-table">
                    <h2> BMI table for children and teens, age 2-20 </h2>
                    <p> The Centers for Disease Control and Prevention (CDC) recommends BMI categorization for children and teens between age 2 and 20.            </p>
                    <table>
                        <tr>
                            <th> Category </th>
                            <th>  Percentile Range </th>
                        </tr>
                        <tr>
                            <td> Underweight </td>
                            <td> <5% </td>
                        </tr>
                        <tr> 
                            <td> Healthy weight </td>
                            <td> 5% - 85% </td>
                        </tr>
                        <tr>
                            <td> At risk of overweight </td>
                            <td> 85% - 95% </td>
                        </tr>
                        <tr>
                            <td> Overweight </td>
                            <td> >95% </td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>